.scene-list_container {
  padding-top: 100px;
  width: 100%;
  text-align: center;
}
.scene-list_icon {
  width: 101px;
  height: 68px;
  margin: 0 auto 30px;
  background: url(../../assets/images/costalk-illustration.png);
}
.scene-list_h3 {
  line-height: 25px;
  font-size: 18px;
  color: #666666;
}
.scene-list_h4 {
  line-height: 20px;
  font-size: 14px;
  color: #666666;
}
