.footer {
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.07);
  margin: 0 -20px;
  padding: 0 20px;
}
.footer_hide{
  display: none;
}
.footer_layout{
  height: 100%;
}

.footer_send-card {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_end-costalk{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.footer_tips {
  font-size: 12px;
  color: #999999;
  width: 240px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer_icon-tip {
  display: inline-block;
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
  background: url('../../assets/images/icon_tips.png') no-repeat;
  text-indent: -999rem;
  vertical-align: middle;
  margin-right: 6px;
}

.footer_empty{
  display: inline-block;
  width: 140px;
  text-indent: -999rem;
  vertical-align: middle;
}

.footer_empty-send-card{
  width: 240px;
}


.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.btn-send-card {
  width: 140px;
  height: 35px;
  background-color: #198be5;
}

.btn-end-costalk {
  width: 140px;
  height: 35px;
  background-color: #ffffff;
  border: solid 1px #198be5;
  color: #198be5;
}