.player {
  height: 44px;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  flex-direction: column;
}

.player-content {
  height: 100%;
  margin: 0 5px;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: center;
}
.player-content_nobottom{
  border-bottom: 0;
}
.player:hover {
  background-color: #f6f9fc;
}

.player:hover .player-icon_s0 {
 background: url('../../assets/images/icon_add_hover.png') no-repeat;
}

.player:hover .player-icon_s1 {
  background: url('../../assets/images/icon_cancel_hover.png') no-repeat;
}

.player-user {}

.player-avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 12px;
  margin-left: 10px;
  vertical-align: middle;
}

.player-username {
  font-size: 12px;
  font-weight: 500;
  color: #666666;
}

.player-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: #cccccc;
  border-radius: 50%;
  text-indent: -9999rem;
}

.player-icon_s0 {
  background: url('../../assets/images/icon_add.png') no-repeat;
}

.player-icon_s1 {
 background: url('../../assets/images/icon_cancel.png') no-repeat;
}
