.scene-perate {
  padding: 10px 20px 0 20px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scene-perate_content {
  height: 420px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.scene-perate_desc {
  font-size: 14px;
  color: #999999;
  padding: 15px 46px 0 46px;
}

.scene-perate_left {
  height: 100%;
  display: flex;
  position: relative;
}
.scene-perate_lists {
  max-height: 420px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
.scene-perate_right {
  height: 100%;
  width: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
}
