.role {
  height: 60px;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  padding-right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.role:hover {
  background-color: #f6f9fc;
}

.role:hover .role-left {
  background-color: #198be5;
}

.role-left-block {
  display: flex;
  align-items: center;
  height: 100%;
}

.role-left {
  width: 4px;
  height: 100%;
  background-color: #fff;
  text-indent: -999rem;
  margin-right: 16px;
}

.role-selected {
  background-color: #f6f9fc;
}

.role-left-selected {
  background-color: #198be5;
}

.role-avatar-wrap {
  width: 40px;
  height: 40px;
  position: relative;
}

.role-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.role-right {
  color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.role-name {
  font-size: 14px;
}
.role-user {
  font-size: 12px;
}
.role-name,
.role-user {
  width: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
